# Directory symlinks into upstream/ (Windows requires explicit type).
# See build2.org/article/symlinks.xhtml and git symlink=dir.
#
src/StandAlone symlink=dir
src/SPIRV symlink=dir
src/glslang symlink=dir
